<div class="container">
  <mat-card class="form-custom">

    <mat-card-header class="mat-header-custom m-b15">
      <!-- <div class="back">
        <mat-icon>arrow_back</mat-icon>
      </div> -->
      <mat-card-title class="text-header">
        Thông tin cá nhân
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="full-width">
      <div class="avatar">
        <div class="profile-image">
          <img width="120" height="120" src="../../../assets/img/avatar.png" alt="avatar">
          <button mat-mini-fab color="primary" (click)="inputFile.click()">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
        <input type="file" hidden #inputFile accept="image/*" (change)="changeFile($event)" />
      </div>
      <div class="info">
        <form [formGroup]="profileForm">
          <div class="row">
            <div class="col-2">
              <mat-form-field class="full-width ">
                <mat-label>Họ và tên</mat-label>
                <input matInput placeholder="Nhập họ và tên..." formControlName="userName">
                <mat-error *ngIf="profileForm.controls['userName'].hasError('required')">Vui lòng nhập thông
                  tin</mat-error>
              </mat-form-field>
            </div>
            <div class="col-2">
              <mat-form-field class="full-width ">
                <mat-label>Biệt danh</mat-label>
                <input matInput placeholder="Nhập biệt danh..." formControlName="displayName">
                <mat-error *ngIf="profileForm.controls['displayName'].hasError('required')">Vui lòng nhập thông
                  tin</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="w-95">
              <mat-form-field class="full-width ">
                <mat-label>Email đăng kí</mat-label>
                <input matInput placeholder="Nhập email..." formControlName="email">
                <mat-error *ngIf="profileForm.controls['email'].hasError('required')">Vui lòng nhập thông
                  tin</mat-error>
                <mat-error *ngIf="profileForm.controls['email'].hasError('pattern')">Định dạng mail không hợp
                  lệ</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="w-95">
              <mat-form-field class="full-width ">
                <mat-label>Mật khẩu</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" placeholder="Nhập mật khẩu.."
                  formControlName="password">
                <mat-error *ngIf="profileForm.controls['password'].hasError('required')">Vui lòng nhập thông
                  tin</mat-error>
                <button mat-icon-button matSuffix (click)="hide = !hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="w-95">
              <mat-form-field class="full-width m-b15">
                <mat-label>Xác nhận mật khẩu</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" placeholder="Nhập mật khẩu.."
                  formControlName="passwordConfirm">
                <mat-error *ngIf="profileForm.controls['passwordConfirm'].hasError('required')">Vui lòng nhập thông
                  tin</mat-error>
                <button mat-icon-button matSuffix (click)="hide = !hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
            </div>
          </div>
        </form>

      </div>
    </mat-card-content>
    <button mat-raised-button color="primary" style="width: 16px; margin: 0 auto;" (click)="doSave()">Lưu</button>
  </mat-card>
</div>