<div class="form-container mat-elevation-z5">
  <h1>Đăng kí</h1>
  <form [formGroup]="signUpForm" (ngSubmit)="submit()">
    <mat-form-field>
      <input matInput placeholder="Tên tài khoản" formControlName="name" />
      <mat-error *ngIf="name?.errors?.['required']">
        Vui lòng nhập thông tin
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email" />
      <mat-error *ngIf="email?.errors?.['required']">
        Vui lòng nhập thông tin
      </mat-error>
      <mat-error *ngIf="email?.errors?.['email']">
        Email không đúng định dạng
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="password"
        placeholder="Mật khẩu"
        formControlName="password"
      />
      <mat-error *ngIf="password?.errors?.['required']">
        Vui lòng nhập thông tin
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="password"
        placeholder="Xác nhận mật khẩu"
        formControlName="confirmPassword"
      />
      <mat-error *ngIf="confirmPassword?.errors?.['required']">
        Vui lòng nhập thông tin
      </mat-error>
    </mat-form-field>
    <mat-error *ngIf="signUpForm.errors?.['passwordsDontMatch']">
        Mật khẩu không khớp
    </mat-error>
    <div class="center margin-top">
      <button type="submit" mat-raised-button color="primary">Sign Up!</button>
    </div>
  </form>
</div>
