<div class="container">
  <div class="chat-list mat-elevation-z5">
    <div class="search-input">
      <mat-form-field class="full-width">
        <mat-label>Danh sách bạn bè</mat-label>
        <mat-select>
          <mat-option *ngFor="let user of lstUser" (click)="createChat(user)">
            {{user.displayName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-selection-list [multiple]="false">
      <mat-divider></mat-divider>
      <mat-list-option *ngFor="let chat of lstChat" [value]="chat.id" (click)="selectChat(chat)">
        <img matListAvatar [src]="chat.avatar ? chat.avatar: '..docs/assets/images/image-placeholder.png'">
        <p mat-line class="chat">
          <span class="chat-name"> {{chat.chatName}}</span>
          <span class="chat-date">{{chat.lastMessageDate|datePipe}}</span>
        </p>
        <p mat-line>{{chat.lastMessage}}</p>
        <mat-divider></mat-divider>
      </mat-list-option>
    </mat-selection-list>
  </div>
  <div class="messages mat-elevation-z5" *ngIf="chatSelect">
    <div class="messages-header">
      <img [src]="chatSelect.avatar ? chatSelect.avatar: '..docs/assets/images/image-placeholder.png'">
      <h2>{{chatSelect.chatName}}</h2>
    </div>
    <mat-divider></mat-divider>
    <div class="chat-area" [ngStyle]="{'background-color':background}">
      <ng-container *ngIf="lstMessage">
        <div *ngFor="let item of lstMessage" class="chat-bubble-container"
          [ngClass]="{ me: item.senderId === userCurent.uid }">
          <div class="chat-content">
            <div class="chat-bubble">
              {{ item.text }}
              <span class="chat-time">{{item.sentDate | datePipe}}</span>
            </div>
          </div>
        </div>
      </ng-container>
      <div #scrollBottom></div>
    </div>
    <div class="input-area">
      <mat-form-field appearance="outline" class="full-width">
        <input matInput placeholder="Enter your message..." [formControl]="messagesControl"
          (keydown.enter)="sendMessage()">
        <button mat-icon-button matSuffix (click)="sendMessage()" disabled="{{!messagesControl.value}}"
          [ngClass]="{ btn: messagesControl.value }">
          <mat-icon>send</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
</div>