<div class="container">
  <div class="chat-list mat-elevation-z5">
    <div class="search-input">
      <mat-form-field class="full-width">
        <mat-label>Danh sách bạn bè</mat-label>
        <mat-select>
          <mat-option *ngFor="let user of lstUser" (click)="createChat(user)">
            {{user.displayName}}
          </mat-option>

          <!-- <mat-selection-list #shoes [multiple]="false">
            <mat-list-option *ngFor="let chat of lstChat" [value]="shoe">
              {{shoe}}
            </mat-list-option>
          </mat-selection-list> -->
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="messages mat-elevation-z5"></div>
</div>